[installer]
ubuntu = "brew"
macos = "brew"
windows = "scoop"

##### Essential package #####
[[package]]
name = "build-essential"
only = "ubuntu"
installer.ubuntu = "apt"

[[package]]
name = "curl"
installer.ubuntu = "apt"

[[package]]
name = "git"
installer.ubuntu = "apt"

[[package]]
# https://www.greenwoodsoftware.com/less
name = "less"
installer.ubuntu = "apt"

[[package]]
name = "tmux"
installer.ubuntu = "apt"
exclude = "windows"
dotfile = true
config = [
    "rm -rf ~/.config/tmux/plugins",
    "git clone https://github.com/tmux-plugins/tpm ~/.config/tmux/plugins/tpm",
    "git clone -b v2.1.3 https://github.com/catppuccin/tmux.git ~/.config/tmux/plugins/catppuccin/tmux",
]

[[package]]
# https://eternallybored.org/misc/wget/
name = "wget"
installer.ubuntu = "apt"

[[package]]
name = "xclip"
installer.ubuntu = "apt"
only = "ubuntu"

[[package]]
# https://github.com/sharkdp/bat
# https://github.com/catppuccin/bat?tab=readme-ov-file#usage
name = "bat"
config_prerequisite.windows = "mkdir -p \"$(bat --config-dir)/themes\" -f"
config_prerequisite.default = "mkdir -p \"$(bat --config-dir)/themes\""
config = [
    "wget --no-verbose -O \"$(bat --config-dir)/themes/Catppuccin Macchiato.tmTheme\" https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Macchiato.tmTheme",
    "bat cache --build",
]

[[package]]
# https://github.com/eza-community/eza
name = "eza"

[[package]]
# https://github.com/fastfetch-cli/fastfetch
name = "fastfetch"
dotfile = true
destination.windows = "%USERPROFILE%/.config/fastfetch"

[[package]]
# https://github.com/dandavison/delta
name = "delta"
config = [
    "git config --global core.pager delta",
    "git config --global interactive.diffFilter 'delta --color-only'",
    "git config --global delta.navigate true",
    "git config --global merge.conflictStyle zdiff3",
]

[[package]]
# https://github.com/sharkdp/fd
name = "fd"

[[package]]
# https://fishshell.com/
# https://github.com/fish-shell/fish-shell
name = "fish"
exclude = "windows"
dotfile = true
config = [
    "fish -c \"curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher update\"",
    'grep -qxF "$(which fish)" /etc/shells || echo "$(which fish)" | sudo tee -a /etc/shells',
    "chsh -s $(which fish)",
]

[[package]]
# https://junegunn.github.io/fzf/
# https://github.com/junegunn/fzf
name = "fzf"

[[package]]
# https://github.com/jesseduffield/lazygit
name = "lazygit"
destination.windows = "%LOCALAPPDATA%/lazygit"

[[package]]
# https://neovim.io/
# https://github.com/neovim/neovim.github.io/
name.default = "nvim"
name.scoop = "neovim"
destination.windows = "%LOCALAPPDATA%/nvim"
config_prerequisite.ubuntu = "sudo ln -sf $(which nvim) /usr/local/bin/nvim"

[[package]]
# https://github.com/BurntSushi/ripgrep
name.default = "rg"
name.scoop = "ripgrep"

[[package]]
# https://github.com/tldr-pages/tlrc
name = "tlrc"

[[package]]
# https://yazi-rs.github.io/
# https://github.com/sxyazi/yazi
name = "yazi"
dotfile = true
config = "ya pkg install"
destination.windows = "%APPDATA%/yazi/config"

[[package]]
# https://github.com/ajeetdsouza/zoxide
name = "zoxide"

##### Windows only #####
[[package]]
# https://github.com/g0t4/pwsh-abbr
# https://www.powershellgallery.com/packages/Abbr
name = "abbr"
only = "windows"
install = "Install-Module -Name Abbr"

[[package]]
# https://www.autohotkey.com/
# https://github.com/AutoHotkey/AutoHotkey
name = "autohotkey"
only = "windows"

[[package]]
# https://github.com/gerardog/gsudo
name = "gsudo"
only = "windows"

[[package]]
# https://www.mingw-w64.org/
name = "mingw"
only = "windows"

[[package]]
# https://github.com/PowerShell/PowerShell
name = "pwsh"
only = "windows"
install = '''if (winget list | Select-String "Microsoft.PowerShell") { Write-Host "Microsoft.PowerShell is already installed." -ForegroundColor Yellow } else { winget install Microsoft.PowerShell -s winget }'''
config = [
    '''Get-ChildItem ".\PowerShell" -Filter *.ps1 | ForEach-Object { New-Item -ItemType SymbolicLink -Path "C:\Program Files\PowerShell\7\$($_.Name)" -Target $_.FullName }''',
]

[[package]]
# https://github.com/jandedobbeleer/oh-my-posh
name = "oh-my-posh"
only = "windows"
install = '''if (winget list | Select-String "OhMyPosh") { Write-Host "OhMyPosh is already installed." -ForegroundColor Yellow } else { winget install JanDeDobbeleer.OhMyPosh -s winget }'''

[[package]]
# https://github.com/kelleyma49/PSFzf
name = "psfzf"
only = "windows"
